.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media(max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.card {
  @media(max-width: 576px) {
    margin: 5px;
  }
}
