.spacer {
  flex: 1 1 auto;
}

.sticky-header {
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  margin-top: 80px;
  margin-bottom: 16px;
  max-width: 960px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

mat-nav-list {
  min-width: 240px;
}

mat-sidenav-content {
  min-height: 100vh;
}

.snav-icon {
  margin-right: 24px;
}

.position-fixed {
  position: fixed;
  z-index: 99999 !important;
}
